@import 'variables';
@import 'container';
@import '_mixins';

body, html {
	margin: 0px;
	height: 100%;
	padding: 0;
}
* {
	box-sizing: border-box;
}

#app {
	height: 100%;
	background-color: var(--background-color);
	position: relative;
}